<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureCosmosSQLKey" value="CfGm6dbdXiIEO6O3y4CiTUW3iTQMLJcpg7ukxcVbu0hn2PkMe3DEBGQ4k6RsrLRFzC40J1MdrNLDn3hxNI66sQ=="/>
    <add key="AzureCosmosSQLDB" value="RT_Document"/>
  </appSettings>
  
  
  <connectionStrings>
    <add name="DefaultSQLAzureConnection" connectionString="Server=tcp:rt-data-relational.database.windows.net,1433;Initial Catalog=RT_Relational;Persist Security Info=False;User ID=rt;Password=@1318Thomas;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"/>
    <add name="DefaultCosmosDBConnection" connectionString="https://rt-data-document.documents.azure.com:443/"/>
  </connectionStrings>
</configuration>